.banner-container {
    text-align: center; /* Optional: Center the image */
  }
  
  .banner-image {
    width: 100%; /* Makes the image responsive */
    max-width: 1500px; /* Define the maximum width */
    height: 120px; /* Keep the aspect ratio */
    margin-bottom: 20px; /* Add space below the image */
  }
  
  .banner-image2 {
    width: 100%; /* Makes the image responsive */
    max-width: 1500px; /* Define the maximum width */
    height: 600px; /* Keep the aspect ratio */
    margin-bottom: 20px; /* Add space below the image */
  }
  